body {
  text-align: center;
  font-size: 20px;
  background: #efefef;
}

.title {
  text-align: justify;
  font-size: 15px;
}

button {
  margin: 10px;
}

#resul {
  text-decoration: underline;
}

table {
  margin: auto;
  font-size: 20px;
}

.m1 {
  background: #e3e141;
  padding: 10px;
  border: 1px solid;
}
.m2 {
  background: #5bb574;
  padding: 10px;
  border: 1px solid;
}
.m3 {
  background: #d0981c;
  padding: 10px;
  border: 1px solid;
}
.m4 {
  background: #ff9781;
  padding: 10px;
  border: 1px solid;
}
.m5 {
  background: #fe6a64;
  padding: 10px;
  border: 1px solid;
}
.m6 {
  background: #ff3232;
  padding: 10px;
  border: 1px solid;
}
